<%= render partial: 'shared/header'%>


<div class="twitter">
 <div class="tweet_side">
   <div class="side_text">
    <%= link_to "TOP", tweets_path, method: :get, class: "side_tag" %>
    <%= link_to "TWEET", root_path, method: :get, class: "side_tag" %>
    <%= link_to "HOME", root_path, method: :get, class: "side_tag" %>
    <%= link_to "HOME", root_path, method: :get, class: "side_tag" %>
    <%= link_to "HOME", root_path, method: :get, class: "side_tag" %>
    <%= link_to "HOME", root_path, method: :get, class: "side_tag" %>
   </div>
 </div>

 <div class="tweet_main">
 <div class="tweet-search">
 <div class="tweet-search-content">
 <div class="tar">
  <%= form_with(url: search_tweets_path, local: true, method: :get, class: "search-form") do |form| %>
  <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "input-box" %>
  <%= form.submit "検索", class: "search-button" %>
<% end %>
</div>
</div>
</div>
   <% @tweet.each do |tweet| %>
   <div class="tweet_list">
      <%= link_to(tweet_path(id: tweet.id)) do%>
       <div class="image_text">
      <%= image_tag tweet.image, class:'tweet_image',id: 'message-image' if tweet.image.attached?%>
        <div class="tweets_text">
          <%= tweet.text%>
        </div>
    </div>
    <div class="tweet_under">
      <%= tweet.updated_at.strftime('%Y/%m/%d %H:%M') %>
      投稿者：<%= link_to tweet.user.nickname, user_path(tweet.user.id), class: :tweet_user %>
    </div>
    <%#= link_to image_tag(tweet.image, class: 'item-img' )%>
    <%#= image_tag(item.image, class: "item-img") %>
  </div>
  <%end%>
<% end %>



   <%= link_to(new_tweet_path, class: 'purchase-btn') do %>
    <span class='purchase-btn-text'>投稿する</span>
    <%= image_tag 'icon_camera.png' , size: '185x50' ,class: "purchase-btn-icon" %>
   <% end %>
   
 </div>
</div>

 <%= render partial: "shared/second-footer" %> 