<%= render "shared/header" %>

<div class="one_image">
    <%= image_tag @tweet.image, class: 'message-image' if @tweet.image.attached?%>
    </div>
<div class="one_tweet">
    <%= @tweet.text %>
    </div>
    <span class="name">
    <div class="one_user">
        <span>投稿者：</span><%= @tweet.user.nickname %>
    </div>

    <div class="one_more">
        <ul class="one_more_list">
          <li>
            <%= link_to '編集', edit_tweet_path(@tweet.id), method: :get,class: :one_edit %>
          </li>
          <li>
            <%= link_to '削除', tweet_path(@tweet.id), method: :delete,data: {confirm: "削除しますか？"},class: :one_delete %>
          </li>
        </ul>
      </div>
      </a>
    </span>


<%# comment ---------%>

<div class="comments">
     <h4>＜コメント一覧＞</h4>
     <% @comments.each do |comment| %>
     <div class="comment-content">
       <div class="comment-name">
        <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %></strong>
       </div>
       <div class="comment_text">
        <%= comment.text %>
        <%#= image_tag @user.image, class: 'user-image', id: 'message_image' %>
       </div>
      </div>
     </div>
    <% end %>

<div class="comment-box">
   <% if user_signed_in? %>
     <%= form_with(model: [@tweet, @comment], local:true) do |t|%>
       <%= t.text_area :text, class: "comment-form", placeholder: "コメントする", rows: "2" %>
        <%# </div> %>
        <p class="comment-warn">
        相手のことを考えたコメントを心がけましょう。</p>
        <%= t.submit "コメントする", class: :comment_btn %>
       </div>
       <% end %>
     <% else %>
       <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p>
       </strong>
   <% end %>

  <%# /コメント %>






  <%# <%= link_to "トップページに戻る", root_path%>
 <%= render partial: "shared/second-footer" %> 