<%= render "shared/header" %>

<div class="main">
<div class="item_favorite">
 <div class="favorite">

  <div class="favorite_title">
    <h1>お気に入り</h1>
  </div>
  
  <%if @favorites.present?%>
    <div class="favorite_style">
      <% @favorites.each do |favorite| %>

      <div class="favoreite_list">
        <div class="favorite_content">
          <%= link_to item_path(favorite) do %>
           <div class="favorite_image_list">
            <%= image_tag favorite.image, class: "favorite_image" %>
             <% if favorite.order != nil%>
              <div class="sold-out">
               <%= image_tag("sold_out")%>
              </div>
          <% end %>
           </div>
      <div class="ale">
        <div class="konnnitiha">
          <div class="favorite_text">
            <h5 class="favorite_name"><%= favorite.name %></h5>
              <div onclick="favorite('<%= item_path(favorite) %>/favorite')">
               <%= image_tag("destroy",class:"item_favorite_delete")%>
              </div>
          </div>
           <div class="dosss">
            <div class="favorite_price">￥<%= favorite.price %></div>
           </div>
        </div>
         <div class=item_favorite_right>
            <div class="cos">
                <%= image_tag "right_yazirusi",class:"yazirusi"%>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <%else%>

    <div class="not_item_favorite">
     <%= link_to image_tag("shopping",class:"not_favorite_image"),search_items_path %>
      <p>お気に入りに商品がありません...</p>
    </div>
    <%end%>

  </div>
 </div>
</div>
</div>

<script>
function favorite(url) {
    var req = new XMLHttpRequest();
    req.onreadystatechange = function() {
      if (req.readyState == 4) {
        location.reload();
      }
    }
    req.open('GET', url, true);
    req.send(null);
}
</script>

<%= render "shared/second-footer"%>