<%= render partial: 'shared/header'%>

<div class="new_tweet">
 <div class="new_tweet-image">
  <div class= "tweet_preview">
   <div id="image-list"></div>
  </div>
 </div>

  <%= form_with(model: @tweet, local: true) do |form| %>
  <%= render 'shared/error_messages', model: form.object %>
   <div class="tweet_new-text">
    <div class="tweet_all">
      <%= form.file_field :image, class:"tweet_images" ,id:'message_image'%>
      <%= form.text_area :text, class:"tweet_text", placeholder:"STORY（必須 150文字まで)", maxlength:"150"%>
      <%= form.submit "投稿",class:"tweet_submit" %>
    </div>
   </div>
  <%end%>
</div> 