<%#user/showなどに使われている%>

<div class='item-contents'>
    <ul class='item-lists'>

      <% if @items.present? %>
      <% @items.each do |item| %>
      <li class='list'>
        <%= link_to item_path(id: item.id) do %>
        <div class='item-img-content'>
          <%= link_to image_tag(item.image, class: 'item-img' ), item_path(id: item.id)%>

          <% if item.order != nil %>
          <div class='sold-out'>
            <span>Sold Out!!</span>
          </div>
          <% end%>
        </div>
        <div class='item-info'>
          <h3 class='item-name'>
            <%= link_to item.name, item_path(item.id), class: 'item-name'%>
          </h3>
          <div class='item-price'>
            <span>¥<%= item.price %>円<br>
            <%= item.delivery_charge.name %></span>
            <div class='star-btn'>
              <%# <%= image_tag "star.png", class:"star-icon" %>
              <%# <span class='star-count'>0</span> %>
            </div>
          </div>
          <%= link_to "by #{item.user.nickname}", user_path(item.user.id),method: :get, class: :card__user %>
        </div>
        <% end %>
      </li>
      <% end %>

      <% else %>
          <h3 class='item-non'>
            商品が出品されていません。
          </h3>
        </div>
      <% end %>
      
    </ul>
  </div>
  
  <%# /商品一覧 %>