<%= render partial: 'shared/header'%>

<div class='main'>

  <%# TOP画像 %>
  <div class='title-contents'>
   <div class="top_image">
   <%= image_tag "orange", class: "main_image"%>
   <p>あなたの"想い"がつながる場所。</p>
   <div class="main_image_text"><span>Give</span>で未来を掴もう。</div>
   <%= image_tag("main_image2",class:"main_image2")%>
   </div>
  </div>
  <%# //TOP画像 %>
  
  <%# SELECT部分 %>
  <div class="top_choice">
   <h1 class="item_title">SELECT</h1>
   
   <%= link_to search_items_path do%>
   <div class="story-product">
    <div class="item_search_page">
     <%= image_tag("item_main", class:"shopping_image")%>
     <div class="product-btn">ITEM</div>
    </div>
    <%end%>

    <%= link_to search_tweets_path do%>
    <div class="tweet_search_page">
     <%= image_tag("tweet_main", class:"shopping_image")%>
     <div class="product-btn">STORY</div>
    </div>
    <%end%>
   </div>
  </div>
  <%# //SELECT部分 %>
  <div class="item_tweet_main">
  <div class="title_new_content">
  <h1 class="item_title">STORY</h1>
  <%= image_tag("new",class:"tweet_new_title")%>
  </div>
       <div class="ososo">
   <div class="tweet_scroll_search">
   <%= link_to "さらに見る",search_tweets_path %>
   </div>
  <%= render partial: "shared/tweet_scroll"%>
  </div>

  <%# Itemsearch %>
  <div class="title_new_content">
 <h1 class="item_title">ITEM</h1>
 <%= image_tag("new",class:"item_new_title")%>
 </div>
 <%= render partial: "shared/item_search"%>
</div>

 <%= render partial: "shared/second-footer" %> 