<%= render "shared/header" %>


<div class="main">
<%# 商品画像 %>
<div class="item-show">
  <div class="item-box">
  <div class="left-image">
    <div class="item-image-content">
      <%= image_tag @item.image ,class:"item-box-image" %>
      <% if @item.order != nil%>
      <div class="sold-out">
        <%= image_tag("sold_out")%>
      </div>
      <% end %>
     </div>
    </div>

    <%# 商品説明 %>
    <div class="right-item">
     <h2 class="name"><%= @item.name %></h2>
      <div class="item-price-box">
       <span class="item-price">¥<%= @item.price %></span>
       <span class="item-postage"><%= @item.delivery_charge.name %></span>
      </div>

    <% if user_signed_in? && @item.order == nil %>
     <% if current_user.id == @item.user_id %>
        <%= link_to image_tag("edit", class: "item-edit-btn"), edit_item_path(@item.id), method: :get %>
        <%= link_to image_tag("destroy",class:"item-destroy"), item_path(@item.id), method: :delete, data: {confirm: "削除しますか？"} %>
       <% else %>
       <%= link_to "購入画面に進む", item_orders_path(@item.id), method: :get,class:"item-buy-btn"%>
       <% end %>
      <% end %>

      <%# like/like数 %>
      <div class="likesss">
      <div classs="item_like_ask">
      <% if user_signed_in? %>
        <%= link_to favorite_item_path do %>
        <% if current_user.likes?(@item)%>
          <%= image_tag("redheart",class:"heart")%>
          <%= @item.likers_count%>
         
        <%else%>
          <%= image_tag("blackheart",class:"heart")%>
          <%= @item.likers_count%>
        <%end%>
        <%end%>
        </div>
       </div>
       <%end%>

       <%# 商品の情報 %>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">ショップ</th>
          <td class="detail-value"><%=link_to @shop.name, user_path(@item.user.id) %></td>
        </tr>
        <tr>
          <th class="detail-item">代表</th>
          <td class="detail-value"><%=link_to @item.user.nickname, user_path(@item.user_id) %></td>
        </tr>
        <tr>
          <th class="detail-item">カテゴリー</th>
          <td class="detail-value"><%= @item.category.name %></td>
        </tr>
        <tr>
          <th class="detail-item">配送料の負担</th>
          <td class="detail-value"><%= @item.delivery_charge.name %></td>
        </tr>
        <tr>
          <th class="detail-item">発送元の地域</th>
          <td class="detail-value"><%= @item.prefecture.name %></td>
        </tr>
        <tr>
          <th class="detail-item">発送日の目安</th>
          <td class="detail-value"><%= @item.day.name %></td>
        </tr>
      </tbody>
    </table>
    
     <div class="item-explain-box">
      <%= @item.text %>
    </div>


      <%# コメント %>
    <div class="comment_title">コメント</div>
     <% @comments.each do |comment| %>
     <div class="comments">
      <div class="comment-content">
       <div class="tweet_comment_nickname_image">
        <%= image_tag comment.user.image, class:'item_comment_user_image',id: 'message-image'%>
         <div class="comment-name">
          <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %></strong>
         </div>
       </div>
       <div class="comment_text_time">
       <div class="comment_text">
        <%= comment.text %>
         </div>
         <div class="show_tweet_time">
        <%= " #{time_ago_in_words(comment.created_at)}前" %>
       </div>
       </div>
     
     </div>
    </div>
    <% end %>

   <div class="comment-box"> 
    <% if @item.order == nil %>
     <% if user_signed_in? %>
     <%= form_with(model: [@item, @comment], local:true) do |t|%>
       <%= t.text_area :text, class: "comment-form", placeholder: "コメント", maxlength:"140" %>
        <p class="comment-warn">
        相手のことを考えたコメントを心がけましょう。</p>
        <%= t.submit "コメントする", class: :comment_btn %>
       </div>
      <% end %>
     <% else %>
       <strong><p>コメントの投稿には新規登録/ログインが必要です</p>
       </strong>
    <% end %>
    <%end%>
   </div>
   </div>
    </div>
     </div>
     </div>
        <div class="show_item_shop"><%= @user.shop.name%>
         </div>
        <%= render partial: 'items/item' %>
</div>

<%= render "shared/second-footer" %>