<%= render "shared/header" %>



<%# 商品の概要 %>
<div class="item-show">
  <div class="item-box">

  <div class="left-image">
    <div class="item-image-content">
      <%= image_tag @item.image ,class:"item-box-image" %>
      <% if @item.order != nil%>
      <div class="sold-out">
        <span>Sold Out!!</span>
      </div>
      <% end %>
     </div>
    </div>



    <div class="right-item">
     <h2 class="name"><%= @item.name %></h2>
      <div class="item-price-box">
       <span class="item-price">¥<%= @item.price %></span>
       <span class="item-postage"><%= @item.delivery_charge.name %></span>
      </div>

    <% if user_signed_in? && @item.order == nil %>
     <% if current_user.id == @item.user_id %>
       <%= link_to "編集", edit_item_path(@item.id), method: :get, class: "item-red-btn" %>
       <%# <p class="or-text">or</p> %>
       <%= link_to "削除", item_path(@item.id), method: :delete, data: {confirm: "削除しますか？"},class:"item-destroy" %>
     <% else %>
       <%= link_to "購入画面に進む", item_orders_path(@item.id), method: :get,class:"item-red-btn"%>
     <% end %>
    <% end %>
    <%= link_to favorite_item_path, class: "stars" do %>
    <i class="fa fa-heart"></i><%= current_user.likes?(@item) ? "お気に入り解除" : "お気に入り" %>
    <%end%>


    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">ショップ</th>
          <td class="detail-value"><%=link_to @shop.name, user_path(@item.user.id) %></td>
        </tr>
        <tr>
          <th class="detail-item">代表</th>
          <td class="detail-value"><%=link_to @item.user.nickname, user_path(@item.user_id) %></td>
        </tr>
        <tr>
          <th class="detail-item">カテゴリー</th>
          <td class="detail-value"><%= @item.category.name %></td>
        </tr>
        <tr>
          <th class="detail-item">商品の状態</th>
          <td class="detail-value"><%= @item.status.name %></td>
        </tr>
        <tr>
          <th class="detail-item">配送料の負担</th>
          <td class="detail-value"><%= @item.delivery_charge.name %></td>
        </tr>
        <tr>
          <th class="detail-item">発送元の地域</th>
          <td class="detail-value"><%= @item.prefecture.name %></td>
        </tr>
        <tr>
          <th class="detail-item">発送日の目安</th>
          <td class="detail-value"><%= @item.day.name %></td>
        </tr>
      </tbody>
    </table>
     <div class="item-explain-box">
      <span><%= @item.text %></span>
    </div>
    </div>


    </div>
  </div>
  <%# /商品の概要 %>








  <%# コメント %>
    <div class="comments">
     <h4 class="comment-title">コメント一覧</h4>
     <% @comments.each do |comment| %>
     <div class="comment-content">
       <div class="comment-name">
        <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %></strong>
       </div>
       <div class="comment_text">
        <%= comment.text %>
        <%#= image_tag @user.image, class: 'user-image', id: 'message_image' %>
       </div>
      </div>
    
    <% end %>

<div class="comment-box">
  <% if @item.order == nil %>
   <% if user_signed_in? %>
     <%= form_with(model: [@item, @comment], local:true) do |t|%>
       <%= t.text_area :text, class: "comment-form", placeholder: "コメントする", rows: "2" %>
        <p class="comment-warn">
        相手のことを考えたコメントを心がけましょう。</p>
        <%= t.submit "コメントする", class: :comment_btn %>
       </div>
      <% end %>
     <% else %>
       <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p>
       </strong>
    <% end %>
   <% end %>
   </div>
   </div>

  <%# /コメント %>
  <%= render partial: 'items/item' %>
  <%# <%= link_to "#{@item.category.name}をもっと見る" ,category_items_path(@item), class:"another-item"%>


<%= render "shared/second-footer" %>